/* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
 -webkit-appearance: button;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
 button,
 select { /* 1 */
   text-transform: none;
 }
 /**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
 button {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 /**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
  }
/**
 * Remove the gray background on active links in IE 10.
 */
 a {
    background-color: transparent;
  }
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  /* Sections
     ========================================================================== */ 
/**
   * Remove the margin in all browsers.
   */
 body {
    margin: 0;
  }
/**
   * Render the `main` element consistently in IE.
   */
 main {
    display: block;
  }
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
 h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }


  /*
========
  layout
========
*/
.container {
    display: grid;
    grid-template-columns: minmax(120px,250px) 1fr minmax(120px,300px);
}

.header-container {
    grid-column: 2 / 4;
    display: grid;
    grid-template: auto auto / minmax(260px,1fr) minmax(220px, 300px);
    gap: 1rem;
}
.header-container .search-container {
    grid-area: 1 / 1 / 2 / 2;
}
.header-container .person-info-container {
    grid-area: 2/ 1 / 2 / 2;
}
.header-container .user-info-container {
    grid-column: 2;
}
.header-container .buttons {
    grid-area: 2 / 2 / 3 / 3 ;
}
.search-container,
.person-info-container,
.notifications,
.user-info-container,
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-info-container,
.buttons {
  justify-content: flex-end;
}
  

.sidebar-container.options {
    grid-area: 1 / 1 / 3 / 2;
}
.sidebar-container,
.sidebar-container .menu-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sidebar-container {
    gap: 2em;
}
.logo,
.menu-container > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.projects-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 1em;
}
.projects-container > .heading {
    grid-column: 1 / -1;
}
.projects-container .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project .actions {
    align-self: flex-end;
    display: flex;
    gap: 1em;
}

.sidebar-container.community {
    grid-column: 3;
}
.sidebar-container .trend {
    display: flex;
}
.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1em
}
/*
===============
custom styles
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300;1,400&display=swap');
body {
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
h
label,
input[type="search"],
button {
  font-size: 100%;
  font-family: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
[class$="-icon"] {
  min-width: 1.5rem;
  object-fit: contain;
}
[class$="-icon"] > img {
    max-width: 2.5rem;
    height: auto;
}

/* header */
.search-container input {
  flex: 1;
}
.header-ribbon {
  padding: 1rem 2rem;
  box-shadow: 0 3px 15px rgb(82, 138, 166, 0.2);
}
.header-ribbon .profile-pic-icon.big img {
  max-width: 3rem;
}
.profile-pic-icon img{
  border-radius: 50%;
}
.heading {
  margin-bottom: 0;
}
.buttons .button {
  background-color: #042dc9;
  color: #ffffff;
  padding: 0.5em 2em;
  border-radius: 1em;
}

/* Options bar */
.options {
  background: rgb(97, 94, 156);
  background: linear-gradient(153deg, rgb(82, 138, 166) 0%, rgb(9, 9, 121) 53%, rgb(4, 43, 200) 73%, rgb(0, 212, 255) 100%);
  color: whitesmoke;
  padding: 0 1rem;
  font-weight: 400;
}

/* Projects */
.container main {
  background: rgba(82, 138, 166,0.025);
  padding: 0 1rem;
}
.project,
.card {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px ridge whitesmoke;
  box-shadow: 1px 2px 5px rgba(82, 138, 166,0.25);
  padding: 0.5rem 1rem;
}
.project {
  border-left:5px solid #0a0b7a;
}
/* Community */
.community {
  font-size: 0.8rem;
}
.announcement {
  border-bottom: 1px solid silver;
}
.announcement h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.announcement p {
  margin-top: 0.5em;
}
